<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let a of agendas;let i=index">
            <div class="card bg-info" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Agenda {{i+1}}:</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Agenda del dia {{a.diaAgenda}} a las {{a.horaAgenda}}</h6>
                  <p class="card-text" *ngIf="a.cita1">Cita 1: Para {{a.cita1.nombre}} con DNI {{a.cita1.dni}} tiene cita a las {{a.cita1.horaCita}} Telefono de Contacto: {{a.cita1.telefono}} Lo ve El Inspector {{a.cita1.entrevistador}}</p>
                  <p class="card-text" *ngIf="a.cita2">Cita 2: Para {{a.cita2.nombre}} con DNI {{a.cita2.dni}} tiene cita a las {{a.cita2.horaCita}} Telefono de Contacto: {{a.cita2.telefono}} Lo ve El Inspector {{a.cita2.entrevistador}}</p>
                  <p class="card-text" *ngIf="a.cita3">Cita 3: Para {{a.cita3.nombre}} con DNI {{a.cita3.dni}} tiene cita a las {{a.cita3.horaCita}} Telefono de Contacto: {{a.cita3.telefono}} Lo ve El Inspector {{a.cita3.entrevistador}}</p>
                  <p class="card-text" *ngIf="a.cita4">Cita 4: Para {{a.cita4.nombre}} con DNI {{a.cita4.dni}} tiene cita a las {{a.cita4.horaCita}} Telefono de Contacto: {{a.cita4.telefono}} Lo ve El Inspector {{a.cita4.entrevistador}}</p>
                  <p class="card-text"><a routerLink="/agendas/editor-agenda/{{a.id}}" class="card-link">Modificar Agenda</a></p>
                  <p class="card-text"><a class="card-link text-danger" (click)="borrarAgenda(a)">Eliminar Agenda</a></p>
                </div>
              </div>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-warning text-white" (click)="agendasPendientes()">Mostrar Agendas Pendientes</button>
          <button type="button" class="btn btn-success" (click)="agendasFinalizadas()">Mostrar Agendas Finalizadas</button>
          <button type="button" class="btn btn-primary" (click)="todasAgendas()">Mostrar Todas</button>
        </div>
    </div>
</div>
