<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let a of agendas;let i=index">
            <div class="card bg-info" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Agenda {{i+1}}:</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Agenda del dia {{a.diaAgenda}}</h6>
                  <div *ngFor="let c of a.citas;let i=index;">
                    <p class="card-text">Cita {{i+1}}: Para {{c.nombre}} con DNI {{c.dni}} tiene cita a las {{c.horaCita}} Telefono de Contacto: {{c.telefono}} Lo ve El Inspector {{c.entrevistador}}</p>
                  </div>
                  <p class="card-text"><a routerLink="/agendas/editor-agenda/{{a.id}}" class="card-link">Modificar Agenda</a></p>
                  <p class="card-text"><a class="card-link text-danger" (click)="borrarAgenda(a)">Eliminar Agenda</a></p>
                  <p class="card-text"><a class="card-link text-success" (click)="generarPDF(a)">Descargar Agenda</a></p>
                </div>
              </div>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-warning text-white" (click)="agendasPendientes()">Mostrar Agendas Pendientes</button>
          <button type="button" class="btn btn-success" (click)="agendasFinalizadas()">Mostrar Agendas Finalizadas</button>
          <button type="button" class="btn btn-primary" (click)="todasAgendas()">Mostrar Todas</button>
        </div>
    </div>
</div>
