<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4"></div>
        <div class="col-12 col-lg-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center"> Cita Para {{c.nombre}} DNI: {{c.dni}}</h5>
                    <p class="card-text"><label>Nombre: </label><input type="text" [(ngModel)]="c.nombre" size="16"
                            required></p>
                    <p class="card-text"><label>DNI: </label><input type="text" [(ngModel)]="c.dni" size="19"></p>
                    <p class="card-text"><label>Email: </label><input type="text" [(ngModel)]="c.email" size="18"></p>
                    <p class="card-text"><label>Telefono: </label><input type="text" [(ngModel)]="c.telefono" size="16">
                    </p>
                    <p class="card-text"><label>Dia de la Cita </label><input type="date" [(ngModel)]="c.diaCita"></p>
                    <p class="card-text"><label>Hora de la Cita </label>
                        <select [(ngModel)]="c.horaCita">
                            <option [ngValue]="'10:00'">10:00</option>
                            <option [ngValue]="'10:30'">10:30</option>
                            <option [ngValue]="'11:00'">11:00</option>
                            <option [ngValue]="'11:30'">11:30</option>
                            <option [ngValue]="'12:00'">12:00</option>
                            <option [ngValue]="'12:30'">12:30</option>
                            <option [ngValue]="'13:00'">13:00</option>
                            <option [ngValue]="'13:30'">13:30</option>
                        </select>
                    </p>
                    <p class="card-text"><label>Se ha entrevistado </label><input type="checkbox" [(ngModel)]="c.visto">
                    </p>
                    <p class="card-text"><label>Entrevistador </label>
                        <select [(ngModel)]="c.entrevistador">
                            <option [ngValue]="'A'">Entrevistador A</option>
                            <option [ngValue]="'B'">Entrevistador B</option>
                        </select>
                    </p>
                    <button type="button" class="btn btn-success" (click)="modificarCita()" *ngIf="id">Modificar
                        Cita</button>
                    <button class="btn btn-info " (click)="meterCita()" style="color:white" *ngIf="!id" >Guardar
                        Cita</button>
                    <button class="btn btn-danger " routerLink="/citas/listado" style="color:white">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4"></div>
    </div>
</div>